# Einführung in R

<a href=https://raw.githubusercontent.com/Methods-Berlin/RTraining/main/Aufgaben_rmd/Einfuehrung_in_R.Rmd download=Einfuehrung_in_R.Rmd>RMarkdown-Datei mit Lösungen herunterladen</a>


<a href=https://raw.githubusercontent.com/Methods-Berlin/RTraining/Rmd_ohne_Loesung/Rmd_ohne_Loesungen/Einfuehrung_in_R.Rmd download=Einfuehrung_in_R.Rmd>RMarkdown-Datei ohne Lösungen herunterladen</a>


## Objekt, Logische Operationen 

Erstelle ein Objekt `x` und weise `x` den Wert 5000 zu. Erstelle ein Objekt `y` und weise `y` den Wert 8 hoch 4 zu (d.h. $8^4$). Überprüfe, ob die Werte der Objekte `x` und `y` gleich sind.

In [1]:
# Hier kannst du deine Lösung ausprobieren.

<!-- loesung: start-->

In [2]:
x <- 5000
y <- 8^4
y <= x

[1] TRUE

<!-- loesung: ende-->

## Vektor, Datentypen, Arithmetische Operationen

Erstelle einen Vektor `a` mit den Zahlen 3, 4, 6, 7 und 25 und einen Vektor `b` mit 4.5, 6.5, 8.5, 5.5 und 7.5. Multipliziere den Vektor `a` und mit dem Vektor `b` und addiere den Wert 2. Speichere das Ergebnis als Objekt namens `a_b`. Welches Datentyp wird dieses Objekt beinhalten? Überprüfe es.

In [3]:
# Hier kannst du deine Lösung ausprobieren.

<!-- loesung: start-->

In [4]:
a <- c(3, 4, 6, 7, 25)
b <- c(4.5, 6.5, 8.5, 5.5, 7.5)
a_b <- a * b + 2
class(a_b)

[1] "numeric"

<!-- loesung: ende-->

## Zahlenfolgen; `seq()` & `rep()`

Erstelle einen Vektor `vek_1` mit einer Zahlenreihe von 5 bis 30 in Fünferschritten und einen Vektor `vek_2`, der 6 mal die Zahl 2.5 enthält. Erstelle beide Vektoren mit den R-Funktionen `seq()` und `rep()`. Subtrahiere den Vektor `vek_2` von `vek_1`. Wie könnte die resultierende Zahlreihe alternativ erzeugt werden?

In [5]:
# Hier kannst du deine Lösung ausprobieren.

<!-- loesung: start-->

In [6]:
vek_1 <- seq(5,30,5)
vek_2 <- rep(2.5,6)
vek_1 - vek_2
seq(2.5,27.5,5)

[1]  2.5  7.5 12.5 17.5 22.5 27.5

[1]  2.5  7.5 12.5 17.5 22.5 27.5

<!-- loesung: ende-->

## Speziallfall Faktor, Indexieren 

In einer Klasse sind folgende Schüler: Anton, Luca, Matteo, Max und Emil. 

a) Erstelle einen  Faktor (spezieller Datentyp) `schüler_1`, der die Namen der Schüler beinhaltet. Die Namen der Schüler sollen in alphabetischer Reihenfolge auftreten. Gehe dabei so effizient wie möglich vor. 
b) Lass dir den Namen des 4. Schülers ausgeben. 
c) Erstelle nun einen weiteren Faktor `schüler_2`, bei dem die Namen in der ursprünglichen Reihenfolge (Anton, Luca, Matteo, Max und Emil) sortiert sind. 
d) Lass dir die beiden Faktoren ausgeben.

In [7]:
# Hier kannst du deine Lösung ausprobieren.

<!-- loesung: start-->

In [8]:
#a)
schüler_1 <- factor(c("Anton", "Luca", "Matteo", "Max", "Emil"), ordered = TRUE)

#b)
schüler_1[4]

#c)
schüler_2 <- factor(schüler_1, ordered = TRUE, levels = c("Anton", "Luca", "Matteo", "Max", "Emil"))

#d)
schüler_1
schüler_2

[1] Max
Levels: Anton < Emil < Luca < Matteo < Max

[1] Anton  Luca   Matteo Max    Emil
Levels: Anton < Emil < Luca < Matteo < Max

[1] Anton  Luca   Matteo Max    Emil
Levels: Anton < Luca < Matteo < Max < Emil

<!-- loesung: ende-->

## Matrizen 

Erstelle eine Matrix `m_1` mit 2 Zeilen und 2 Spalten mit den Zahlen 4, 7, 9 und 2, die zeilenweise eingetragen werden. 
a) Lass dir die 1. Zeile ausgeben. 
b) Lass dir die 2. Spalte ausgeben.

In [9]:
# Hier kannst du deine Lösung ausprobieren.

<!-- loesung: start-->

In [10]:
m_1 <- matrix(data = c(4, 7, 9, 2), nrow = 2, ncol = 2, byrow = TRUE)

#a) 
m_1[1, ]
#b) 
m_1[ , 2]

[1] 4 7

[1] 7 2

<!-- loesung: ende-->

Erstelle eine Matrix `m_2` mit 3 Zeilen und 3 Reihen mit den Zahlen 7, 3, 0, 5, 6, 1, 1, 9 und 11, die spaltenweise eingetragen werden. 
a) Lass dir den Wert in der 1. Zeile und 3. Spalte ausgeben. 
b) Lass dir den Wert in der 2. Zeile und 3. Spalte ausgeben.
c) Nenne die Zeilen A1, A2 und A3 und die Spalten B1, B2 und B3.

In [11]:
# Hier kannst du deine Lösung ausprobieren.

<!-- loesung: start-->

In [12]:
m_2 <- matrix(data = c(7, 3, 0, 5, 6, 1, 1, 9, 11), nrow = 3, byrow = FALSE)
#a)
m_2[1, 3]
#b)
m_2[2, 3]
#c)
rownames(m_2) <- c("A1", "A2", "A3")
colnames(m_2) <- c("B1", "B2", "B3")

[1] 1

[1] 9

<!-- loesung: ende-->

## Liste

Erstelle eine Liste für einen Sportwettkampf, die die folgenden Vektoren enthält.
a) `Sportler`: Tim, Alex, Finn, Martin 
b) `Start`: TRUE, TRUE, TRUE, FALSE
b) `Platz`: 2,3,1, NA
c) `Qualifikation`: FALSE, FALSE, TRUE, FALSE

Lass dir aus der Liste das Objekt `Start` ausgeben.

In [13]:
# Hier kannst du deine Lösung ausprobieren.

<!-- loesung: start-->

In [14]:
list_wettkampf <- list(Sportler = c("Tim", "Alex", "Finn", "Martin"),
                       Start = c(TRUE, TRUE, TRUE, FALSE),
                       Platz = c(2, 3, 1, NA),
                       Qualifikation = c(FALSE, FALSE, TRUE ,FALSE))

list_wettkampf$Start

[1]  TRUE  TRUE  TRUE FALSE

<!-- loesung: ende-->

## Dataframe 

Du führst eine Studie zur Persönlichkeit durch und möchtest bei 4 Personen Extraversion und Verträglichkeit mithilfe eines Fragebogens erfassen. Schließlich bekommst du die Mittelwerte der jeweiligen Skala für jeden Teilnehmer. Die Mittelwerte für Extraversion für die 4 Teilnehmer sind: 3.0, 2.5, 3.0, 3.5 und die Mittelwerte der Verträglichkeit sind: 4.0, 3.5, 4.5, 3.0. Erstelle einen Datensatz `Persönlichkeit` mit 3 Spalten: `Teilnehmer`, `E` (Extraversion) und `V` (Verträglichkeit). Lass dir den Wert für Verträglichkeit des 2. Teilnehmers ausgeben.

In [15]:
# Hier kannst du deine Lösung ausprobieren.

<!-- loesung: start-->

In [16]:
Teilnehmer <- c(1, 2, 3, 4)
E <- c(3.0, 2.5, 3.0, 3.5)
V <- c(4.0, 3.5, 4.5, 3.0)

Persönlichkeit <- data.frame(Teilnehmer, E, V)

Persönlichkeit[2, 3]

[1] 3.5

<!-- loesung: ende-->

Wandle die Wettkampfsliste aus der vorherigen Aufgabe in einen Datensatz.

In [17]:
# Hier kannst du deine Lösung ausprobieren.

<!-- loesung: start-->

In [18]:
data.frame(list_wettkampf)

  Sportler Start Platz Qualifikation
1 Tim       TRUE  2    FALSE
2 Alex      TRUE  3    FALSE
3 Finn      TRUE  1     TRUE
4 Martin   FALSE NA    FALSE

<!-- loesung: ende-->